.efecto{
width: 200px;
border-radius: 50%;

}

.efecto:hover{
width: 300px;
cursor: pointer;
transition: 3s;

}

body{

background-color: blanchedalmond;
margin: 100px;

}

hr{
width: 85%;

}





















